<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>quotes</title>
  </head>
  <body>
    <div id "top">
      {% if messages %}
        {% for messages in messages %}
        <h1{% if message.tags %} class"{{ message.tags }}" {% endif %}>
        {% endfor %}
      {% endif %}
      <a href = "/quotes">home</a>
      <a href = "/logout">logout</a>
    </div>
    <div id = "addquote">
      <h1>add new quote and review: </h1>
      <form action = "/submit" method = "POST">
        {% csrf_token %}
        <h2> quote : </h2>
        <input type = "text" name = "title">
        <h2> author: </h2>
        <h3> choose from the list; </h3>
        <select name = "quote">
          {% for quotes in quotes %}
            <option value = "{{ quote.name }}">{{ quotes.name }}</option>
          {% endfor %}
        </select>
        <h3> Or add your own quote: </h3>
        <input type = "text" name = "quote2">
        <h2> comments : </h2>
        <input type = "text" name = "comment">
      </form>
    </div>
  </body>
</html>
