<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>document</title>
  </head>
  <body>
    <form action ="/new_user" method= "post">
      {% csrf_token %}
      <label for = "full_name">your name:</label>
      <input type="text" name = "full_name">
      <div>
        <p> dojo location: </p>
        <select name = "dojo_location">
          <option value = "san jose">san jose, CA</option>
          <option value = "seattle">seattle, WA</option>
          <option value = "LA">LA, CA</option>
        </select>
      </div>

      <div>
        <p> favorite programming language: </p>
        <select name = "favorite_language">
          <option value = "python">python</option>
          <option value = "ruby_on_rails">ruby on rails</option>
          <option value = "mean">mean</option>
          <option value = "ios">ios</option>
        </select>
      </div>
      <div>
        <p>comments</p>
          <textarea name = "comment"></textarea>
      </div>
      <input type = "submit" value= "submit">
    </form>
  </body>
</html>
